[data-inviewporttype="scale-in"] {
  transition: 2s;
  transform: scale(0.1);
}

[data-inviewporttype="scale-in"].is-inViewport {
  transform: scale(1);
}

[data-inviewporttype="scale-out"] {
  transition: 1s ease;
  transform: scale(3);
  opacity: 0;
}

[data-inviewporttype="scale-out"].is-inViewport {
  transform: scale(1);
  opacity: 1;
  position: static;
}

body {
  background-color:rgb(24, 26, 27);
  color: rgb(209, 205, 199)
}

.welcome-section {
  position: relative;
  width: 100%;
  height: calc(100vh + 100px);
  text-align: center;
  background-image: url(./images/bg_keller.jpg);
  background-position: center center;
  background-size: cover;
}

.welcome-header-wrapper {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-25%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#changeLanguageButton {
  background-color: rgb(88, 95, 99)
}

#main-header {
  background-color: rgb(67, 72, 75);
}

.welcome-header-wrapper > h1 {
  font-size: 3rem;
  text-transform: uppercase;
  background-color: #b3b3b3; color: black;
}

.change-language-wrapper {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.change-language-wrapper > a {
  margin-top: 1rem
}

.change-language-wrapper > a > img {
  height: 2rem
}

.person-img {
  position: absolute;
  bottom: 0%;
  right: 5%;
  transform: translate(5%, calc(-0% + 100px));
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 640px) {
  .person-img {
    width: 150px;
    height: 150px;
  }
}

.card-img-top {
  padding: 1rem;
}

.card {
  background-color: rgb(29, 31, 33);
  color: rgb(209, 205, 199)
}

.about-section {
  padding-top: 50px; padding-left: 0; padding-right: 0;
}

.about-section * h2 {
  font-size: 2.57rem;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
}

.collection-section {
  padding: 25px 0;
  margin-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 300px;
  text-align: center;
  background-image: url(./images/boardgamecollection.jpg);
  background-position: center center;
  background-size: cover;
}

.collection-section > a {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.collection-section > h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 0
}

.shelf-section {
  position: relative;
  height: auto;
  width: 80%;
  margin: auto;
}

.shelf {
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}

.regal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
}

.extra-regal {
  display: none
}

.regal > img {
  pointer-events: none;
}

.img-is-long {
  max-width: 100%
}

.img-is-tall {
  max-height: 100%
}

.badges-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: flex-end;
  row-gap: 50px;
  padding-top: 80px;
  z-index: 1
}

.badge-big {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: visible;
}

.badge-big > img {
  cursor: help;
  z-index: 1
}

@media screen and (max-width: 768px) {
  .badges-wrapper {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 53px;
    padding-top: 75px;
  }
  .extra-regal {
    display: flex !important;
  }
  .img-is-long  {
    width: 120px !important;
  }
  .img-is-tall  {
    height: 120px !important;
  }
  .shelf-section {
    width: 90%;
  }
  site-footer {
    margin-top: 510px;
  }
}

@media (max-width: 500px) {
  /* Rafta 2 badge, biraz küçültülmüş */
  .badges-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .shelf-section {
    width: 95%;
  }
  site-footer {
    margin-top: 150px;
  }
}

#click_on_symbols {
  color: white !important;
}

.popover-header {
  background-color:rgb(24, 26, 27);
  color: rgb(209, 205, 199);
  border-bottom: 1px solid rgb(52, 56, 58)
}

.popover-body {
  background-color:rgb(24, 26, 27);
  color: rgb(209, 205, 199)
}


.click-tip-wrapper {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: rgb(0, 0, 0, 0.9);
  color: white;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#click-tip-cursor {
  position: absolute;
  right: -20px;
  bottom: -20px;
  animation: click 2.5s infinite;
}

#click-tip-sparkle {
  position: absolute;
  right: 15px;
  bottom: 20px;
}

#arrow-body {
  stroke-dasharray: 178;
  stroke-dashoffset: 178;
  animation: sign_arrow_body 0.5s ease;
  animation-fill-mode: forwards;
}

#arrow-head {
  stroke-dasharray: 145;
  stroke-dashoffset: 145;
  animation: sign_arrow_head 1s ease;
  animation-fill-mode: forwards;
}


#sparkle-1 {
  stroke-dasharray: 27;
  stroke-dashoffset: 27;
  animation: click_sparkle 2.5s ease;
}

#sparkle-2 {
  stroke-dasharray: 27;
  stroke-dashoffset: 27;
  animation: click_sparkle 2.5s ease;
}

#sparkle-3 {
  stroke-dasharray: 27;
  stroke-dashoffset: 27;
  animation: click_sparkle 2.5s ease;
}

#sparkle-4 {
  stroke-dasharray: 27;
  stroke-dashoffset: 27;
  animation: click_sparkle 2.5s ease;
}

#sparkle-5 {
  stroke-dasharray: 27;
  stroke-dashoffset: 27;
  animation: click_sparkle 2.5s ease;
}

#sparkle-6 {
  stroke-dasharray: 27;
  stroke-dashoffset: 27;
  animation: click_sparkle 2.5s;
}

@keyframes click_sparkle {
  58% {
    stroke-dashoffset: 27;
  }
  63% {
    stroke-dashoffset: 0;
  }
  64% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 27;
  }
}

@keyframes click {
  40% {
    right: -20px;
    bottom: -20px;
  }
  56% {
    right: 0;
    bottom: 0;
  }
  58% {
    right: 0;
    bottom: -5px;
  }
  60% {
    right: 0;
    bottom: 0;
  }
  70% {
    right: -20px;
    bottom: -20px;
  }
}

@keyframes sign_arrow_body {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes sign_arrow_head {
  50% {
    stroke-dashoffset: 145;
  }
  to {
    stroke-dashoffset: 0;
  }
}

footer {
  margin-top: 350px;
}

footer > div {
  border-top: 1px solid #383838;
  padding: 50px 15px 30px;
  position: relative;
}

@media (max-width: 1200px) {
  .badges-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  footer {
    margin-top: 150px;
  }
}